In [0]:
# import libraries
from bs4 import BeautifulSoup
import urllib.request
import csv
import json
import pandas as pd

In [0]:
## Scraping player data
metrics = [102,21,22,23,103,138,139,132,104,28,100,101]
seasons = [0,1,2,3,4,8,26,49]
url = []

def scrap_data_from_url(soup,season):
    json_dict = json.loads(str(soup))
    filename = json_dict['stat']
    out_df = pd.DataFrame.from_dict(json_dict['data'])
    out_df.to_csv(filename+'_'+str(season)+'.csv',index=False)
    
for i in metrics:
    for j in seasons:
        url = 'https://www.prokabaddi.com/sifeeds/kabaddi/static/json/1_'+str(j)+'_'+str(i)+'_stats.json'
        page = urllib.request.urlopen(url)
        soup = BeautifulSoup(page)
        scrap_data_from_url(soup,j)

In [0]:
## Scraping team data
metrics = [96,133,140,13,97,98,15,95,99,134,20,135,136,137]
seasons = [0,1,2,3,4,8,26,49]
url = []

def scrap_data_from_url(soup,season):
    json_dict = json.loads(str(soup))
    filename = json_dict['stat']
    out_df = pd.DataFrame.from_dict(json_dict['data'])
    out_df.to_csv(filename+'_'+str(season)+'.csv',index=False)
    
for i in metrics:
    for j in seasons:
        url = 'https://www.prokabaddi.com/sifeeds/kabaddi/static/json/1_'+str(j)+'_'+str(i)+'_stats.json'
        page = urllib.request.urlopen(url)
        soup = BeautifulSoup(page)
        scrap_data_from_url(soup,j)

In [0]:
## Scraping team data
# https://www.prokabaddi.com/sifeeds/kabaddi/static/json/49_4_squad.json
    
teams = [1,2,3,4,5,6,7,8,28,29,30,31]
seasons = [49]
url = []

def scrap_data_from_url(soup,season):
    json_dict = json.loads(str(soup))
    out_df = pd.DataFrame.from_dict(json_dict['squads']['squad']['players'])
    out_df.to_csv('team_data'+'_'+str(season)+'.csv',index=False)
    
for i in seasons:
    for j in teams:
        url = 'https://www.prokabaddi.com/sifeeds/kabaddi/static/json/'+str(i)+'_'+str(j)+'_squad.json'
        page = urllib.request.urlopen(url)
        soup = BeautifulSoup(page)
        scrap_data_from_url(soup,j)

In [0]:
import os
import glob

#path = 'C:\\Users\\vimal.p\\OneDrive - Subex Limited\\Work\\Github Local\\UpGrad-Hackathon\\season7TeamData\\Team'
extension = 'csv'
#os.chdir(path)
result = glob.glob('*.{}'.format(extension))
print(result)

['team_data_1.csv', 'team_data_2.csv', 'team_data_28.csv', 'team_data_29.csv', 'team_data_3.csv', 'team_data_30.csv', 'team_data_31.csv', 'team_data_4.csv', 'team_data_5.csv', 'team_data_6.csv', 'team_data_7.csv', 'team_data_8.csv']

In [0]:
li = []

for filename in result:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame.to_csv('All_Players_season_7.csv')

In [0]:
frame.head()

,country_id,country_name,date_of_birth,full_name,gender,is_captain,jersey_no,name,player_id,position_id,position_name,short_name
0,4,India,1990-01-19,Rohit Kumar,m,1,9,Rohit Kumar,326,8,Raider,Rohit Kumar
1,4,India,2000-11-10,Banty,m,0,5,Banty,2503,8,Raider,Banty
2,170,Nepal,1991-02-01,Lal Mohar Yadav,m,0,99,Lal Mohar Yadav,589,8,Raider,Lal Mohar Yadav
3,4,India,1996-07-09,Pawan Sehrawat,m,0,17,Pawan Kumar Sehrawat,318,8,Raider,Pawan Sehrawat
4,4,India,1996-06-15,Sumit Singh,m,0,7,Sumit Singh,363,8,Raider,Sumit Singh

In [0]:
players = frame.player_id.unique()

In [0]:
len(players)

220

In [0]:
players

array([ 326, 2503,  589,  318,  363,  387, 2502,   87,  768,  769, 2501,
        299, 2670, 2353,  794, 2471,  202,   15,  194, 2474,   36, 2296,
       2491, 2473,  655,  123, 2490,  157,  311,  481, 2489, 2668,  361,
       2669,  251,  745,   42, 2372, 2318, 2357,  155,  264, 2515,  366,
       2488,  240,  179, 2462, 2463, 2487, 2351, 2514,  732,  335,   26,
       2325,   81,  105, 2508,  268, 2282, 2512, 2506, 2481, 2493,   71,
       2659, 2423, 2480,   69,  160, 2257,   41, 2475,  211, 2497,  599,
       2263,  293, 2498, 2496,  212, 2665, 2495,  290,  613,  515,  791,
       2494,  676,  735,  725, 2321, 2316,  647, 2262,  388,   94,  106,
       2286,  234, 2657, 2482, 2020, 2330, 2297, 2041,  567,  778,  218,
        686,  300,   46, 2666, 2306,  772,  757, 2485,  793, 2667,  357,
       2672, 2023,  368,  665,  554,  764,  143,  219,  509,  204,  370,
        111, 2671, 2513,  621,   54,  784, 2470,   43,  796, 2264, 2499,
        484,  578, 2681, 2680,  259, 2028, 2024,  376,  522, 2313, 2656,
        261,  172,   84, 2334, 2345, 2486,  519,  733, 2025, 2320,  142,
        197, 2504,   12,  571, 2505,  795, 2268, 2478, 2663, 2346,  637,
        579,  390, 2507,  249, 2644, 2664,  121,  322, 2291,  324, 2376,
        763,  320, 2661,  156,  718, 2660,  694, 2492,  301, 2479, 2662,
        161, 2682,  347,  731,  489,  214, 2322, 2307, 2299, 2683, 2290,
        684, 2026,  115, 2658, 2510, 2509,  191,  274,  358, 2298,  482],
      dtype=int64)

In [0]:
players = [143]

In [0]:
def scrap_data_from_url(soup,season):
    json_dict = json.loads(str(soup))
#     print(json_dict.keys())
#     print(json_dict['over_all_stats'])
    out_df = pd.DataFrame.from_dict(json_dict['over_all_stats'])
    out_df.to_csv('player_data'+'_'+str(season)+'.csv',index=False)
    
for i in players:
    url = 'https://www.prokabaddi.com/sifeeds/kabaddi/static/json/'+str(i)+'_player.json'
    page = urllib.request.urlopen(url)
    soup = BeautifulSoup(page)
    scrap_data_from_url(soup,i)